!!!
%html
  %head
    %link(rel="stylesheet" href="/assets/qunit.css")
  %body
    = javascript_include_tag :test
    %h1(id="qunit-header")
    %h2(id="qunit-banner")
    %div(id="qunit-testrunner-toolbar")
    %h2(id="qunit-userAgent")
    %ol(id="qunit-tests")
    %div(id="qunit-fixture")
